@import url(../libs/bootstrap-4.3.1/css/bootstrap.min.css);
/* CSS Document */
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v14-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/montserrat-v14-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v14-latin-regular.woff") format("woff"), url("../fonts/montserrat-v14-latin-regular.ttf") format("truetype"), url("../fonts/montserrat-v14-latin-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v14-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/montserrat-v14-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"), url("../fonts/montserrat-v14-latin-700.woff") format("woff"), url("../fonts/montserrat-v14-latin-700.ttf") format("truetype"), url("../fonts/montserrat-v14-latin-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

h2 {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.spacer {
  flex: 1;
}

.carousel .carousel-control-next,
.carousel .carousel-control-prev {
  width: 4%;
}

.custom-card.variation-2 .tab-card .card-img-top {
  width: 50%;
}
.custom-card.variation-2 .tab-card .card-title {
  margin: 2.5em 0 0.35em;
}
.custom-card.variation-2 .tab-card .card-text {
  padding-left: 0;
  font-size: 14px;
}
.custom-card.variation-2 .tab-card .card-body {
  min-height: 27em;
}
.custom-card .tab-card {
  margin-top: 70px;
  position: relative;
}
.custom-card .tab-card.mt-6 {
  margin-top: 4em;
}
.custom-card .tab-card .card-img-top {
  width: 23%;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -48px;
}
.custom-card .tab-card .card-title {
  color: #003e67;
  font-weight: 600;
  margin: 0.35em 0 0.35em;
}
.custom-card .tab-card .card-body {
  color: #363636;
  background: #dedede;
  border: 2px solid #565656;
  min-height: 195px;
  padding-bottom: 0;
}
.custom-card .tab-card .card-body.h-150 {
  min-height: 150px;
}
.custom-card .tab-card .card-text {
  padding-left: 15px;
  font-size: 13px;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: #fff;
}
.table thead {
  background: #05253b;
  color: #fff;
}

.navbar {
  background: #1a699e;
}
.navbar .navbar-nav-grey {
  background: #3c3c3c;
}
.navbar .container-fluid {
  padding: 0;
}
.navbar .container-fluid .navbar-brand {
  padding: 0;
  background: #fff;
}
.navbar .nav-item.active .nav-link::after {
  border: 0;
  margin: 0;
}
.navbar .dropdown-menu {
  background: #3c3c3c;
  display: block;
  border-radius: 0;
  border: 0;
}
.navbar .dropdown-menu .dropdown-item {
  color: #fff;
}
.navbar .dropdown-menu .dropdown-item:hover {
  background: transparent;
}
.navbar .dropdown-menu .dropdown-item.active {
  background: #000;
}

.query-form {
  padding-right: 30px;
  padding-left: 30px;
}
.query-form .btn-primary {
  background-color: #1a699e;
  border-color: #1a699e;
  border-radius: 0;
}
.query-form .input-group-text {
  padding: 0;
}
.query-form .form-control {
  height: calc(1.5em + 0.75rem + 10px);
}

.content {
  display: flex;
  margin: 32px auto;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.bd-example-tabs-2 .tab-content > .tab-pane .tab-card {
  padding: 2em;
}
.bd-example-tabs-2 .tab-content > .tab-pane .card-text {
  font-size: 16px;
  font-weight: 600;
}
.bd-example-tabs-2 .nav-pills.nav {
  border-bottom: 1px solid #304b54;
}
.bd-example-tabs-2 .nav-pills .nav-item {
  margin-right: 5px;
}
.bd-example-tabs-2 .nav-pills .nav-item .nav-link {
  margin-bottom: 0;
}
.bd-example-tabs-2 .nav-pills .nav-link {
  border-radius: 0;
  color: #fff;
  background: #08436b;
}
.bd-example-tabs-2 .nav-pills .nav-link.active,
.bd-example-tabs-2 .nav-pills .show > .nav-link {
  background: #da0000;
}
.bd-example-tabs-2 .custom-list {
  margin-bottom: 0;
}
.bd-example-tabs-2 .custom-list > li {
  background: url(../img/GFC_therapy/Bullet01.png);
  background-repeat: no-repeat;
  padding-left: 45px;
  padding-top: 9px;
  line-height: normal;
  font-weight: 600;
  font-size: 1.1em;
  padding-bottom: 25px;
}
.bd-example-tabs-2 .custom-list > li .custom-list-child {
  padding-top: 20px;
}
.bd-example-tabs-2 .custom-list > li .custom-list-child > ul > li {
  background: url(../img/GFC_therapy/SubBullet.png);
  background-repeat: no-repeat;
  padding-left: 35px;
  padding-bottom: 13px;
  padding-top: 7px;
}

.bd-example-tabs-1 {
  background: url("../img/GFC_therapy/GFC_Therapy_Banner.png");
  background-size: contain;
  padding-bottom: 25px;
}
.bd-example-tabs-1 .tab-content > .tab-pane {
  color: #fff;
}
.bd-example-tabs-1 .nav-pills .nav-link {
  border-radius: 0;
  color: #fff;
  padding: 3em 1em;
  background: #08436b;
  margin: 5px 0 5px 0;
}
.bd-example-tabs-1 .nav-pills .nav-link:first-child {
  margin-top: 10px;
}
.bd-example-tabs-1 .nav-pills .nav-link:last-child {
  margin-bottom: 10px;
}
.bd-example-tabs-1 .nav-pills .nav-link.active,
.bd-example-tabs-1 .nav-pills .show > .nav-link {
  background: #da0000;
}

.next-gen-therapy {
  position: relative;
  background: url("../img/home/HomePageGFC_Crops.png");
  background-repeat: no-repeat;
  height: 691px;
  background-position: top;
  background-size: cover;
}
.next-gen-therapy .text1,
.next-gen-therapy .img1,
.next-gen-therapy .img2,
.next-gen-therapy .img3,
.next-gen-therapy .img4 {
  position: absolute;
  top: 0;
}
.next-gen-therapy .text1 {
  top: 8em;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 637px;
}
.next-gen-therapy .img1 {
  left: 2em;
  top: 2em;
}
.next-gen-therapy .img2 {
  right: 2em;
  top: 2em;
}
.next-gen-therapy .img3 {
  top: 22em;
  left: 22em;
}
.next-gen-therapy .img4 {
  top: 22em;
  right: 22em;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.card svg.material-icons path {
  fill: #888;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: #696767;
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

svg#rocket {
  width: 80px;
  position: absolute;
  left: -10px;
  top: -24px;
}

svg#rocket-smoke {
  height: 100vh;
  position: absolute;
  top: 10px;
  right: 180px;
  z-index: -10;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

.terminal {
  position: relative;
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  padding-top: 45px;
  margin-top: 8px;
  overflow: hidden;
  background-color: #0f0f10;
}

.terminal::before {
  content: "\2022 \2022 \2022";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: #3a3a3a;
  color: #c2c3c4;
  width: 100%;
  font-size: 2rem;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
}

.terminal pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
}

.circle-link {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 8px;
  background-color: white;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
}

.circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

footer {
  margin-top: 30px;
  display: flex;
  align-items: center;
  line-height: 20px;
  background: #f0f0f0;
}
footer .footer-links {
  padding-left: 2em;
  padding-top: 2.5em;
}
footer .footer-logo {
  background: #fff;
  border-top-right-radius: 4.5rem;
  border-bottom-right-radius: 4.5rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 0;
}
footer .nav-link {
  color: #303030;
  padding: 0 20px;
}
footer .social-media-links .nav-link {
  padding: 0 0 0 10px;
}
footer a {
  display: flex;
  align-items: center;
}
footer hr {
  margin-top: 1.5em;
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}
footer .list-1 {
  margin-bottom: 2.2em;
}
footer .list-2 .nav-link,
footer .list-1 .nav-link {
  font-weight: 600;
}

.github-star-badge {
  color: #24292e;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 3px 10px;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 3px;
  background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
  margin-left: 4px;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.github-star-badge:hover {
  background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
  border-color: rgba(27, 31, 35, 0.35);
  background-position: -0.5em;
}

.github-star-badge .material-icons {
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

/* Responsive Styles */
@media screen and (min-width: 768px) {
  .next-gen-therapy .img3 {
    left: 9em;
  }

  .next-gen-therapy .img4 {
    right: 10em;
  }
}
@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .navbar {
    padding: 0;
    background: #1a699e;
  }
  .navbar .navbar-collapse {
    position: relative;
    margin-top: -49px;
  }
  .navbar .container-fluid {
    padding: 0;
  }
  .navbar .container-fluid .navbar-brand {
    margin-right: 0;
    background: #fff;
  }
  .navbar .nav-item .nav-link {
    color: #fff;
  }
  .navbar .nav-item.active {
    position: inherit;
    background: #e5453c;
  }
  .navbar .nav-item.active .dropdown-menu {
    display: block;
  }
  .navbar .dropdown-menu {
    background: #3c3c3c;
    width: 100%;
    border-radius: 0;
    margin: 0;
    padding: 0;
  }
  .navbar .dropdown-menu .dropdown-item {
    color: #fff;
    display: inline-block;
    padding: 12px 1.5rem 14px;
    width: auto;
  }

  .next-gen-therapy .img3 {
    left: 22em;
  }

  .next-gen-therapy .img4 {
    right: 22em;
  }
}
